.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-background-color: rgb(0, 128, 6);
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}

#account {
    -fx-background-color: rgb(0, 128, 6);
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

/* Permet de sélectionner tous les "Label" contenus dans l'élément ayant pour class "sidebar-section" */
.sidebar-section Label {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-padding:10px;
}

.content-section {
    -fx-wrap-text: true;
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
    -fx-padding: 10px;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

#footer-section {
    -fx-alignment: center;
}

